* {
  box-sizing: border-box;
}

@mixin box-grow($time){
  transition: height $time ease;
}

.container {
  margin: 20px auto;
  height: 257px;
  max-height: 300px;
  max-width: 500px;
  border: 1px solid #2EC1CE;
  border-top-color:transparent;

  .slidebar {
    max-height: 180px;
    }

}

header {
      height: 45px;
      width: 499px;
      padding: 12px;
      background-color: #21C6D5;
      border-top: none;
      border: 1px solid #2EC1CE;
      font-size: 20px;
      font-weight: lighter;
      color: white;
      }

.boxcontent {
      height: 0px;
      font-size:14px;
      overflow: auto;
      @include box-grow(2s);
      }

.bigbox {
      height:120px;
      @include box-grow(2s);
      }

.headHover {
  background-color: #28EDFF;
}

p {
  margin: 25px;
}
